@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../font/opensans/v17/mem8YaGs126MiZpBA-U1Uw.eot");
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url("../font/ptsansnarrow/v11/BngRUXNadjH0qYEzV7ab-oWlsYCA.eot");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../font/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPg.eot");
}
