/* Navigation */
.ecommerce .header-navigation {
	/* font: 19px "PT Sans Narrow", sans-serif; */
	letter-spacing: 1px;
	margin: 0;
}
.ecommerce .header-navigation > ul > li > a {
	color: #767f88;
	/* padding: 34px 12px 32px; */
	padding: 5px 0px 5px;
}
.ecommerce .header-navigation ul > li.active > a,
.ecommerce .header-navigation ul > li > a:hover,
.ecommerce .header-navigation ul > li > a:focus,
.ecommerce .header-navigation ul > li.open > a,
.ecommerce .header-navigation ul > li.open > a:hover,
.ecommerce .header-navigation ul > li.open > a:focus {
	color: #e02222;
}
.ecommerce .header-navigation .dropdown-menu > li > a:hover,
.ecommerce .header-navigation .dropdown-menu > li.active > a,
.ecommerce .header-navigation .header-navigation-content .header-navigation-col li > a:hover,
.ecommerce .header-navigation .header-navigation-content .header-navigation-col li.active > a {
  color: #fff;
}
.ecommerce .header-navigation ul > li.active > a {
	/*border-bottom: 2px solid #E44F00;*/
	border-bottom: none !important;
}
.ecommerce .header-navigation > ul > li > .dropdown-menu {
	margin-top: -3px;
}
.ecommerce .reduce-header .header-navigation > ul > li > .dropdown-menu {
	margin-top: -3px;
}
.ecommerce .reduce-header .header-navigation > ul > li.dropdown:hover > a:after { 
  bottom: 0;
}
.ecommerce .header-navigation .dropdown-menu > li > a:hover,
.ecommerce .header-navigation .dropdown-menu > li.active > a,
.ecommerce .header-navigation .header-navigation-content .header-navigation-col li > a:hover,
.ecommerce .header-navigation .header-navigation-content .header-navigation-col li.active > a {
  color: #fff;
}
.ecommerce .header-navigation ul > li.active > a {
	/*border-bottom: 2px solid #E44F00;*/
	border-bottom: none !important;
}

.ecommerce .header-navigation > ul > li > .dropdown-menu {
	margin-top: -3px;
}
.ecommerce .reduce-header .header-navigation > ul > li > .dropdown-menu {
	margin-top: -3px;
}
.ecommerce .reduce-header .header-navigation > ul > li.dropdown:hover > a:after { 
  bottom: 0;
}
.additional-nav .search-panel {
	border: none;
	padding: 1px 1px 0 0;
	position: relative;
    height: 30px;
    line-height: 28px;
    
}
.additional-nav .search-panel .input-group{
	border-radius: 20px;
    text-align: right;
    word-break: keep-all;
    white-space: nowrap;
	border: 1px solid rgba(0,0,0,.15);
	z-index: 100;
	background: white;
	transition:all .8s ease-in-out;
}
.additional-nav .search-panel input{
	vertical-align: middle;
    border: none;
    outline: 0;
    width: 125px;
    height: 20px;
    margin-left: 7px;
    transition: width .5s;
    line-height: 20px;
	color: #999;
	margin-top: 4px;
}
.additional-nav .search-panel a{
    margin-left: 19px;
    font-size: 13px;
	color: #999;
	display: block;
}
.additional-nav .search-panel input:focus{
	transition:all .8s ease-in-out;
	color: #000;
}
.additional-nav .search-panel .input-group>div{
	margin: 0;
	text-align: left;
}
.sidebar .dropdown.open .dropdown-toggle {
    background: #fff;
    color: #3E4D5C;
}
.sidebar .dropdown.open .dropdown-toggle:hover {
	color: #E02222;
}
.sidebar .dropup.open > .dropdown-toggle, .dropdown.open > .dropdown-toggle {
    border-color: none !important;
}



.pre-header a {
	color: #616b76;
}
.pre-header a:hover {
	color: #E02222;
}
.pre-header a:focus {
	text-decoration: none;
}
.pre-header .header-navigation>ul>li {
	 padding-left: 11px; 
	padding-right: 15px;
	border-right: solid 1px #d8d8d8;
}
.pre-header li:last-child {
	border: none;
}
.additional-shop-info li:first-child {
	padding-left: 0;
}
.additional-nav li:last-child {
	padding-right: 0;
}
.pre-header .fa {
	margin-right: 4px;
}

/* Navigation */
.header-navigation {
	font: 15px "Open Sans", sans-serif;
	margin: 0 10px 0 0;
	padding: 0;
	float: right;
	text-transform: uppercase;
}
.header-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.header-navigation > ul > li {
	float: left;
}
.header-navigation > ul > li > a {
	color: #333;
	display: block;	
	padding: 29px 12px 30px;
}
.header-navigation ul > li.active > a,
.header-navigation ul > li > a:hover,
.header-navigation ul > li > a:focus,
.header-navigation ul > li.open > a,
.header-navigation ul > li.open > a:hover,
.header-navigation ul > li.open > a:focus {
	color: #e02222;
	background: #fcfcfc;
	text-decoration: none;
}
.header-navigation ul > li.active > a {
	border-bottom: 2px solid #e64f00;
}

/* dropdown menu */
@media (min-width: 1025px) {
	.header-navigation > ul > li:hover > .dropdown-menu {
	  display: block;
	}
}

.header-navigation,
.header-navigation .dropdown {
  position: static;
}
.header-navigation .dropdown>span{
	color:#767f88;
	padding: 5px 0px 5px;
	display: block;
	cursor:pointer;

}

.header-navigation .dropdown-fix-left,
.header-navigation .dropdown-fix-right {
	position: relative;
}
.header-navigation .dropdown-menu {
  left: auto;
  top: 100%;  
  padding: 0;
  background: #fff;
  position: absolute;
  border: none;  
  /* box-shadow: 5px 5px rgba(91, 91, 91, 0.2); */
  text-transform: none;
  font: 13px "Open Sans", sans-serif;
  letter-spacing: 0;
  border-radius: 0;
  z-index: 9999;
}
.header-navigation .collection>li{
	padding: 0px;
	margin: 0px;
}
.header-navigation .collection li a{
	padding: 10px 15px;
    font-weight: 400;
    color: #767f88;
    display: inline;
}

.header-navigation .dropdown-menu:before,
.header-navigation .dropdown-menu:after {
	display: none !important; 
}

.dropdown-fix-left .dropdown-menu {
	left: 0;
	width: 700px;
}
.dropdown-fix-right .dropdown-menu {
	right: 0;
	width: 700px;
}
.header-navigation > ul > li > .dropdown-menu {
	margin-top: -5px;
	border-top: solid 3px transparent;
	z-index: 1001;
}
.header-navigation .dropdown100 > .dropdown-menu {
  left: 15px;
  right: 15px;
}
.header-navigation > ul > li.dropdown:hover > a:after { 
  bottom: 0;
  width: 0; 
  height: 0;
  z-index: 1002; 
  content: " "; 
  display: block !important; 
  position: absolute;
  border-bottom: 8px solid #e6400c;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.ie8 .header-navigation > ul > li.dropdown:hover > a:after {
	display: none !important;
}
.header-navigation li.dropdown100 > .dropdown-menu:after {
	display: none !important;
}
.header-navigation .dropdown-menu > li:first-child {
	border-top: solid 2px #ea4c1d;
}
.shopping-cart .header-navigation-content  li {
	list-style: none;
	margin: 0;
	padding: 9px 15px 9px 0px;
	border-bottom: solid 1px #f2f2f2;
	width: 100%;
	overflow: hidden;
  }
.header-navigation .shopping-cart li:last-child {
  border: none;
  list-style: none;
    margin: 0;
    padding: 9px 15px 9px 0px;
    width: 100%;
    overflow: hidden;
}
.header-navigation .shopping-cart li > a {
  padding: 10px 15px;
  font-weight: 400;
  color: #767f88;
  display: inline;
}
/*	消息悬浮框	*/
.news .header-navigation-content .panel_head{
	display: block;
	text-align: center;
	height: 37px;
    line-height: 37px;
    position: relative;
	border-bottom: 1px solid #EEE;
	font-size: 14px;
    color: #222;
}
.news .header-navigation-content .panel_foot{
	text-align: center;
	/* display: block;    
	position: relative; */
	height: 32px;
    border-top: 1px solid #EEE;
}
.news .header-navigation-content .panel_body span{
	font-size: 14px;
}
.news .header-navigation-content .not_news_image{
	height: 171px;
	width: auto;
	border: 1px solid;
	margin: 40px 0px;
}
.news .header-navigation-content .panel_body li>a{
	cursor: pointer;
	padding: 5px 8px;
}
.news .header-navigation-content .panel_body li>a:hover{
	color: #616b76;
}
.news .header-navigation-content .panel_body .info{
	display: inline-block;
	width: 270px;
	
}
.news .header-navigation-content .panel_body .type{
	display: block;
}
.news .header-navigation-content .panel_body .time{
	text-align: right;
	font-size: 14px;
	display: block;
}
.news .header-navigation-content .panel_foot>span{
	padding-top: 5px;
	right: 129px;
	position: absolute;
	cursor: pointer;
}

.header-navigation .dropdown-menu > li > a:hover,
.header-navigation .dropdown-menu > li.active > a,
.header-navigation .header-navigation-content .header-navigation-col li > a:hover,
.header-navigation .header-navigation-content .header-navigation-col li.active > a {
  background: #e6400c;
  color: #fff;
}
.dropdown-submenu > a:after {
  display: none;
}

/* navigation content */
.header-navigation-content {
  padding: 20px 30px;
  min-width: 364px;
}
.header-navigation-content .header-navigation-col {
	padding: 0;
}
.header-navigation-content .header-navigation-col>ul>li{
	padding: 0;
	margin: 0px;
	border: 0px;
}
.header-navigation-content h4,
.ecommerce .header-navigation-content h4 {
  font: bold 15px 'Open Sans', Arial, sans-serif;
  margin: 0 0 6px;
  padding: 0px 14px 5px;
  border-bottom: solid 1px #f0f0f0;
}
.header-navigation-content ul {
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}

.header-navigation-content li > a {
  display: block;
}

.header-navigation-description {
  background: #fcfafb; 
  margin: -20px 0 -2px -30px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(91, 91, 91, 0.2) inset;
}


/* n-level submenu */
.header-navigation .dropdown-menu .dropdown-menu {
  left: 100%;
  right: auto;
  top: 6px;
}
.header-navigation .dropdown-menu a {
  /* position: relative; */
}
.header-navigation .dropdown-menu li > a{
	padding:10px 15px;
}
.header-navigation .dropdown-menu .fa {
  position: absolute;
  top: 13px;
  right: 15px;
}

/* Top Search */
.header-navigation li.menu-search {
	position: relative;
	top: 26px;
}
.header-navigation li.menu-search span.sep {
	top: 0;
	width: 1px;
	height: 26px;
	background: #eaeaea;
	position: relative;
	margin: 0 18px 0 16px;
	display: inline-block;
}
.header-navigation li.menu-search i {
	color: #333;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	top: -6px;
	/*background: url(../img/icons/top-search-icon.png) no-repeat;*/
	width: 15px;
	height: 15px;
	opacity: 0.6;
}
.header-navigation li.menu-search i:hover {
	color: #e02222;
	background-position: 0 -15px;
}
/*.header-navigation .fa-search:before {
	content: none;
}*/
.header-navigation .search-box {
	right: -7px;
	top: 100%;
	padding: 15px;
	display: none;
	background: #fcfafb;
	position: absolute;
	border-top: solid 2px #ea4c1d;
	box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
	width: 274px;
	margin-top: 0;
	z-index: 22;
}
.header-navigation .search-box:after { 
	top: -8px;
	width: 0; 
	height: 0;
	right: 8px;
	z-index: 2; 
	content: " "; 
	display: block; 
	position: absolute;
	border-bottom: 8px solid #e6400c;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.header-navigation .search-box button {
	margin-left: 0 !important;
}

/* reduce navigation */
/*.page-header-fixed .site-logo,
.page-header-fixed .header-navigation > ul > li > a,
.page-header-fixed .header-navigation li.menu-search,
.page-header-fixed .top-cart-block {
 	transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
}*/
.reduce-header .site-logo {
	padding-top: 9px;
	padding-bottom: 11px;
}
@media (min-width: 1025px) {
	.reduce-header .header-navigation > ul > li > a {
		padding: 16px 12px 17px;
	}
	.ecommerce .reduce-header .header-navigation > ul > li > a {
		padding: 23px 12px 20px;
	}
	.reduce-header .header-navigation li.menu-search {
		top: 14px;
	}
	.ecommerce .reduce-header .header-navigation li.menu-search {
		top: 21px;
	}
}

.pre-header {
	color: #616b76;
	border-bottom: 1px solid #eee;
	padding-top: 6px;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background: #fff;
}
.nav-brands {
	clear: both;
	margin: -20px -15px;
	padding: 20px 0 0;
	width: auto;
  }
  .nav-brands ul {
	margin: 0;
	padding: 10px 0;
	list-style: none;
	background: #fff;
	width: 100%;
	overflow: hidden;
	border-top: solid 1px #f0f0f0;
  }
  .nav-brands li {
	float: none;
	margin-right: 0 !important;
	border: none !important;
	display: inline-block;
  }
  .nav-brands img {
	width: auto;
	height: 70px;
  }
  .nav-brands a {
	padding: 0 !important;
  }
  .nav-brands a:hover {
	background: #fff;
	color: #fff;
  }
/*	消息悬浮框	*/
.news .header-navigation-content .panel_head{
	display: block;
	text-align: center;
	height: 37px;
    line-height: 37px;
    position: relative;
	border-bottom: 1px solid #EEE;
	font-size: 14px;
    color: #222;
}
.news .header-navigation-content .panel_foot{
	text-align: center;
	/* display: block;    
	position: relative; */
	height: 32px;
    border-top: 1px solid #EEE;
}
.news .header-navigation-content .panel_body span{
	font-size: 14px;
}
.news .header-navigation-content .not_news_image{
	height: 171px;
	width: auto;
	border: 1px solid;
	margin: 40px 0px;
}
.news .header-navigation-content .panel_body li>a{
	cursor: pointer;
	padding: 5px 8px;
}
.news .header-navigation-content .panel_body li>a:hover{
	color: #616b76;
}
.news .header-navigation-content .panel_body .info{
	display: inline-block;
	width: 270px;
	
}
.news .header-navigation-content .panel_body .type{
	display: block;
}
.news .header-navigation-content .panel_body .time{
	text-align: right;
	font-size: 14px;
	display: block;
}
.news .header-navigation-content .panel_foot>span{
	padding-top: 5px;
	right: 129px;
	position: absolute;
	cursor: pointer;
}
.top-cart-block .fa-shopping-cart {
	position: absolute;
	top: 0;
	right: 0;
	background: #e84d1c;
	color: #fff;
	padding: 8px 8px 7px;
	border-radius: 16px !important;
	font-size: 16px;
}  
.product-quantity .input-group-btn {
	position: static;
	
}
.input-group-btn{
	/* padding: 4px 0px 6px 0px; */
	margin-bottom: 0;
	 font-size: 14.25px;
}
.product-quantity .input-group {
	width: 70px;
	float: left;
	margin-right: 20px;
	position: relative;
}
table .product-quantity,
table .product-quantity .input-group {
	margin-right: 0;
}
.fontawesome-icon-list [class^="fa-"],
.fontawesome-icon-list [class*=" fa-"],
li [class^="fa-"],
li [class*=" fa-"] {
	display: inline-block;
	width: 1.25em;
	text-align: center;
}
.search-result-item {
    margin: 0 -10px 20px;
    padding: 0 10px 15px;
    border-bottom: 1px solid #ECEBEB;
}
.search-result-item h4,
.ecommerce .search-result-item h4 {
    margin-bottom: 5px;
    padding: 0;
}
.search-result-item h4 a {
	color: #E6400C;
}
.search-result-item p {
	margin-bottom: 10px;
}
.search-link {
    color: #999;
    font-size: 12px;
}
.product-pop-up {
	padding: 0;
	overflow-x: hidden;
	background: inherit;
}
.product-pop-up .product-quantity, .product-pop-up .product-quantity .input-group {
	margin-right: 15px;
}
.product-pop-up .product-page-cart .btn {
	padding: 7px 5px;
}
.product-pop-up .product-page-cart a.btn {
	padding: 9px 5px 5px;
	display: inline-block;
}
.product-pop-up .btn-primary {
	margin-right: 10px;
}
.product-quantity input.form-control {
	border: none;
	background: #edeff1 !important;
	font: 300 23px 'Open Sans', sans-serif;;
	color: #647484;
	height: 38px;
	width: 50px;
	text-align: center;
	padding: 5px;
}
.product-quantity input.form-control:focus {
	border: none;
}
.input.form-control{
	border-radius: 20px;
}
input.form-control,
textarea.form-control {
	border-color: #dbdbdb;
	color: #777;
	font: 14px Arial, sans-serif;
	border-radius: 0;
	box-shadow: none;
}
input.form-control:focus,
textarea.form-control:focus {
	box-shadow: none;
	border: solid 0px #dbdbdb;
}